.contents h1{
  color: #34495e;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin: 0;
  vertical-align: center;
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
}

.contents h2, .contents p{
  font-size: 40px
}

.detail{
  margin:2vh auto;
  width:100vW;
  height:5vh;
  text-align: center;
}

.detail-icon span{
  font-weight: bold;
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  background: transparent;
  color: var(--button_color);
  font-size: 20px;
  padding-left: 20px
}

.detail-left{
  width: 15%;
  text-align: center;
  float: left;
}

.detail-right{
  width: 80%;
  padding-left: 12px;
  /*margin:0 auto;*/
  text-align: left;
  float: right;
  font-size: 50px;
}

.detail-right p{
  text-align: left;
}

header .detail-title{
  width: 40vw;
  height: 100%;
  padding-left: 2vw;
  padding-top: 6vh;
  text-align: center;
  vertical-align: center;
  float: left;
}

header .detail-icon{
  width: 15vw;
  height: 100%;
  padding:1vw;
  text-align: center;
  vertical-align: center;
  float: left;
}
*{
  margin: 0;
  padding: 0;
}
/*
html{
--base_color: #4a2d08;
--main_text_color: #c0392b;
--base_background: rgba(149, 165, 166, 0.2);
--button_color: #7f8c8d;
--important_color: #e74c3c;
--decide_color: #27ae60;
--delegate_color: #2980b9;
--delete_color: #2c3e50;
--list_background: #ecf0f1;
--list_boxshadow: rgba(0, 0, 0, 0.5) 0 0 3px;
--modal_background: #ecf0f1;
--modal_boxshadow: rgba(44, 62, 80, 0.1) -1px 1px 5px;
}*/
html{
$base_color: #4a2d08;
$main_text_color: #c0392b;
$base_background: rgba(149, 165, 166, 0.2);
$button_color: #7f8c8d;
$important_color: #e74c3c;
$decide_color: #27ae60;
$delegate_color: #2980b9;
$delete_color: #2c3e50;
$list_background: #ecf0f1;
$list_boxshadow: rgba(0, 0, 0, 0.5) 0 0 3px;
$modal_background: #ecf0f1;
$modal_boxshadow: rgba(44, 62, 80, 0.1) -1px 1px 5px;
}

body{
  height: 100vh;
  width: 100vw;
  background-image: url("retina_dust.png");
}

header {
  height: 10vh;
  width: 100vw;
  background-color: var(--base_background);
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0;
  margin: 0;
  position: fixed;
  top:0;
  left:0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-shadow: rgba(255,255,255, 1) 0 1px 0;
}

header h1 {
  color: var(--main_text_color);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin: 0;
  vertical-align: center;
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
}

header .title{
  width: 70vw;
  height: 100%;
  padding-left: 5vw;
  padding-top: 6vh;
  vertical-align: center;
  float: left;
}

header .icon{
  width: 15vw;
  height: 100%;
  padding:1vw;
  text-align: center;
  vertical-align: center;
  float: left;
}

.icon span{
  font-weight: bold;
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  background: transparent;
  color: var(--button_color);
  font-size: 20px;
  padding-left: 10px
}

li {
  margin: 0 auto;
  text-align: center;
  list-style: none;
}

li .important i{
  width:10%;
  color:red;
  float:left;
}

li .urgent i{
  width:10%;
  color:blue;
  float:left;
}

li a{
  border-style:none;
  color: var(--base_color);
  text-decoration:none;
  font-weight: bold;
}

.todo-mat{
  height: 85vh;
  width: 95vw;
  padding: 30px;
  margin-top: 10vh;
  position: fixed;
}

.todo-mat h2{
  font-size: 30px;
}

.todo-mat a{
  font-size: 30px;
}

.todo-mat li{
  margin-top: 50px;
}

.contents-row {
  width: 100%;
  height: 50%;
}

.contents-left {
  width: 48%;
  height: 95%;
  float: left;
  overflow: auto;
  text-align: center;
}

.contents-right {
  width: 48%;
  height: 95%;
  float: right;
  overflow: auto;
  text-align: center;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.btn i{
    display: inline-block;
    text-decoration: none;
    text-shadow: -1px 1px 0 rgba(255,255,255,1);
    background: transparent;
    color: var(--button_color);
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    margin: 20px 20px 0px;
}

.btn i:hover{
  opacity: 0.7;
}

i.fa-exclamation{
  color: var(--important_color);
}

i.fa-clock{
  color: var(--delegate_color);
}

#important{
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  color: var(--important_color);
  border-radius: 6px;
  border-width: 5px;
  background: var(--list_background);
  box-shadow: var(--list_boxshadow);
}

#decide{
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  color: var(--decide_color);
  border-radius: 6px;
  border-width: 5px;
  background: var(--list_background);
  -webkit-font-smoothing: subpixel-antialiased;
  box-shadow: var(--list_boxshadow);
}

#delegate{
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  color: var(--delegate_color);
  border-radius: 6px;
  border-width: 5px;
  background: var(--list_background);
  box-shadow: var(--list_boxshadow);
}

#delete{
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  color: var(--delete_color);
  border-radius: 6px;
  border-width: 5px;
  background: var(--list_background);
  box-shadow: var(--list_boxshadow);
}

.modal {
  display: none;
  width: 80%;
  height: 80%;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  border-width: 6px;
  text-align: center;
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  background: var(--modal_background);
  box-shadow: var(--modal_boxshadow);
  position:fixed;
  overflow: auto;
  z-index: 2;
}

#modal-main1 h1{
  color: var(--important_color);
  font-size: 50px;
}
#modal-main2 h1{
  color: var(--decide_color);
  font-size: 50px;
}
#modal-main3 h1{
  color: var(--delegate_color);
  font-size: 50px;
}
#modal-main4 h1{
  color: var(--delete_color);
  font-size: 50px;
}

.modal h1{
  font-size: 30px;
  padding: 5px;
}

.modal li{
  margin-top: 50px;
  font-size: 40px;
}

#modal-bg {
  display:none;
  width:100%;
  height:100%;
  background-color: rgba(44, 62, 80, 0.2);
  position:fixed;
  top:0;
  left:0;
  z-index: 1;
}
.contents{
  margin-top: 12vh;
}

.input-form{
  margin:2vh auto;
  width:100%;
  height:5vh;
  text-align: center;
}
.input-form i{
    display: inline-block;
    text-decoration: none;
    background: transparent;
    color: var(--main_text_color);
    line-height: 120px;
    font-size: 120px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    margin: 20px;
}

.input-form i:hover{
  opacity:0.5;
}

.input-form-left{
  width: 15%;
  text-align: center;
  float: left;
}

.input-form-right{
  width: 85%;
  text-align: center;
  float: right;
}

input::-webkit-input-placeholder {
  font-weight: bold;
  padding: 5px;
}

input[type="text"]{
  size:100%;
  border: 0px;
  background: transparent;
}

form input{
  background: transparent;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  height: 70px;
  transition: border-color 0.3s;
  width: 100%;
  font-size: 40px;
}

form input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

input[type="date"]{
  width:80%;
  border: 0px;
  font-size: 50px;
  font-weight: bold;
  background: transparent;
  color: gray;
}

input[type="time"]{
  width:80%;
  border: 0px;
  font-size: 50px;
  font-weight: bold;
  background: transparent;
  color: gray;
}

input[type=textarea]{
  width:80%;
  font-size: 50px;
  padding:10px;
  background: transparent;
}

input[type="submit"]{
  padding: 15px;
  color:red;
  border-style: solid;
  border-color: red;
  background: transparent;
  font-size: 40px;
}

input[type="submit"]:hover{
  background-color: red;
  color: white;
}

.signin-wrapper{
  background: var(--base_background);
  height: 100%;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 10vh;
}

.signin-header{
  height: 15%;
  padding: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.signin-header h1 {
  color: var(--main_text_color);
  font-family: sans-serif;
  font-size: 50px;
}

.signin-header h2 {
  color: white;
  color: var(--main_text_color);
  font-size: 30px;
}

.signin-form{
  width: 80%;
  border-style: none;
  border-radius: 6px;
  opacity: 0.5;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #fafafa;
  margin: 3em auto;
  padding: 2vh;
}

.signin-form h1{
  font-size: 50px;
  text-align: center;
  padding:0 1em;
}

.signin-form-field{
  width: 80%;
  color: #34495e;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 2vh 0;
  justify-content: center;
}

.signin-form-field h1{
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
}
.signin-form-button{
  margin: 2em 0 0;
  width: 100%;
}

.signin-form-button .btn{
  background: var(--main_text_color);
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.signin-form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
  font-size: 30px;
}

.signin-form-footer a:hover{
  border-bottom: 1px dotted #8c8c8c;
}
.wrapper{
  width:100%;
}
table {
    width:80%;
    border-style: none;
}

th {
    font-size:50px;
    border-style: none;
    color: black;
    background-position:left top;
    padding:3px 10px 3px 10px;
    text-align:center;
 }

td {
    height:5vh;
    font-size:30px;
    border-bottom:1px solid var(--base_color);
    color:black;
    background-position:left top;
    padding:3px 10px 3px 10px;
    text-align:center;
 }

 td a{
    color: var(--base_color);
    text-decoration: none;
 }

td.newtodo{
    background-color: rgba(255, 0, 0, 0.1);
}

td.newicon{
    border-style: none;
    background: transparent;
}
.todo-table{
    height: 89vh;
    width:100vw;
    margin:11vh 1vh 2vh;
    position: fixed;
    overflow: auto;
}

.edit-form{
  margin:2vh auto;
  width:80%;
  text-align: center;
}

.edit-form h1{
  font-size: 30px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

