<!-- "/app/assets/stylesheets/signin_style.css" -->
<div class="signin-wrapper">
  <div class="signin-header">
    <h1>TODO MATRIX</h1>
    <h2>自動で仕事の優先順位決めてくれるやつ</h2>
  </div>

  <div class="signin-form">
    <h1>サインイン</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'signin-field'}) do |f| %>
      <div class="signin-form-field">
         <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", required: "required"%>
      </div>
    <!-- <hr> -->
      <div class="signin-form-field">
        <!-- <input type="textarea" name="password"> -->
        <%= f.password_field :password, autocomplete: "off" , placeholder: "パスワード", required: "required"%>
      </div>
      <!-- <hr> -->
        <!-- <div class="signin-form-button"> -->
      <div class="signin-form-field">
        <%= button_tag :type => "submit", :class =>"btn btn-default btn-s-md" do %>
          <i class="fas fa-sign-in-alt fa-5x"></i>
          <h2>サインイン</h2>
        <% end %>
      </div>
    <%end%>
    <div class="signin-form-footer">
      <p><a href="/users/sign_up">新規登録</a></p>
      <p><a href="/users/password/new">パスワードを忘れた場合</a></p>
    </div>
  </div>
</div>
