<!-- "/app/assets/stylesheets/signin_style.css" -->
<div class="signin-wrapper">
  <div class="signin-header">
    <div class="top-icon"></div>
    <!-- <h1>TODO MATRIX</h1> -->
    <!-- <h2>自動で仕事の優先順位決めてくれるやつ</h2> -->
  </div>

  <div class="signin-form">
    <h1>Sign-in</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'signin-field'}) do |f| %>
      <div class="signin-form-field">
         <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", required: "required"%>
      </div>
    <!-- <hr> -->
      <div class="signin-form-field">
        <!-- <input type="textarea" name="password"> -->
        <%= f.password_field :password, autocomplete: "on" , placeholder: "パスワード", required: "required"%>
      </div>
      <!-- <hr> -->
        <!-- <div class="signin-form-button"> -->
    <div class="submit-button">
      <div class="submit-icon">
        <i class="fas fa-sign-in-alt fa-5x"></i>
      </div>
      <div class="submit-text">
          <input type="submit" value="Sign-in">
      </div>
    </div>
    <%end%>
    <div class="signin-form-footer">
      <p><a href="/users/sign_up">新規登録</a></p>
    </div>
  </div>
</div>
