<header>
  <div class="title"><h1>TODO追加</h1></div>
  <div class="icon"><a href="/users/mypage" class="btn"><i class="fas fa-home fa-5x"></i><div class="icon-text">ホーム</div></a></div>
</header><!-- /header -->
<div class="contents">
  <%= form_tag('/todos', method: :post) do %>
    <div class="input-form">
      <div class="input-form-left">
        <h1>内容</h1>
      </div>
      <div class="input-form-right">
        <input type="textarea" name="title" style="font-size:40px;" placeholder="内容" required="required">
      </div>
    </div>
    <!-- <hr> -->
    <div class="input-form">
      <div class="input-form-left">
        <h1>日付</h1>
      </div>
      <div class="input-form-right">
        <input type="date" name="dead_date" style="font-size:40px;" required="required">
      </div>
    </div>
    <!-- <hr> -->
    <div class="input-form">
      <div class="input-form-left">
        <h1>時間</h1>
      </div>
      <div class="input-form-right">
        <input type="time" name="dead_time" style="font-size:40px;" required="required">
      </div>
    </div>
    <!-- <hr> -->
    <div class="input-form">
      <div class="input-form-left">
        <h1>詳細</h1>
      </div>
      <div class="input-form-right">
        <input type="textarea" name="detail" style="font-size:40px;" placeholder="任意">
      </div>
    </div>
    <div class="input-form">
      <!-- <input type="submit" value="登録"> -->
      <%= button_tag :type => "submit", :class =>"btn btn-default btn-s-md" do %>
        <i class="far fa-check-circle fa-5x"></i>
      <% end %>
      <!-- <i class="far fa-check-circle fa-5x"></i> -->
    </div>
  <% end %>
</div>
