<header>
  <h1>タスク追加</h1>
  <a href="/user/<%= current_user.id %>/mypage">マイページ</a>
</header><!-- /header -->
<div class="contents">
  <%= form_tag('/todos', method: :post) do %>
    <div>
      <input placeholder="内容" type="text" name="title", style="font-size:40px;">
    </div>
    <div>
      <input placeholder="日付" type="date" name="dead_date">
    </div>
    <div>
      <input placeholder="時間" type="time" name="dead_time">
    </div>
    <div>
      <textarea cols="30" name="detail" placeholder="詳細" rows="10"></textarea>
    </div>
    <div>
      <input type="submit" value="登録">
    </div>
  <% end %>
</div>
