.alert-form{
  width: 80%;
  border-style: none;
  border-radius: 6px;
  /*opacity: 0.5;*/
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgba(231, 76, 60, 0.1);
  margin: 3em auto;
  padding: 2vh;
}

.alert-form p{
  color: red;
  font-size: 30px;
}
