.contents h1{
  color: #34495e;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin: 0;
  vertical-align: center;
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
}

.contents h2, .contents p{
  font-size: 40px
}

.detail{
  margin:2vh auto;
  width:100vW;
  height:5vh;
  text-align: center;
}

.detail-icon span{
  font-weight: bold;
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  background: transparent;
  color: var(--button_color);
  font-size: 20px;
  padding-left: 20px
}

.detail-left{
  width: 15%;
  text-align: center;
  float: left;
}

.detail-right{
  width: 80%;
  padding-left: 12px;
  /*margin:0 auto;*/
  text-align: left;
  float: right;
  font-size: 50px;
}

.detail-right p{
  text-align: left;
}

header .detail-title{
  width: 40vw;
  height: 100%;
  padding-left: 2vw;
  padding-top: 6vh;
  text-align: center;
  vertical-align: center;
  float: left;
}

header .detail-icon{
  width: 15vw;
  height: 100%;
  padding:1vw;
  text-align: center;
  vertical-align: center;
  float: left;
}
