* {
  margin: 0;
  padding: 0;
}

/*html {
  --base_color: #4a2d08;
  --main_text_color: #c0392b;
  --base_background: rgba(149, 165, 166, 0.2);
  --button_color: #7f8c8d;
  --important_color: #e74c3c;
  --decide_color: #27ae60;
  --delegate_color: #2980b9;
  --delete_color: #2c3e50;
  --list_background: #ecf0f1;
  --list_boxshadow: rgba(0, 0, 0, 0.5) 0 0 3px;
  --modal_background: #ecf0f1;
  --modal_boxshadow: rgba(44, 62, 80, 0.1) -1px 1px 5px;
}
*/

html{
  /*height: 100vh;*/
  height: 120vh;
  width: 100vw;
  /*background-image: url('retina-dust.png');*/
  background-color: rgba(44, 62, 80, 0.1);
    font-family: 'Roboto', 'Sawarabi Gothic', sans-serif;
}

header {
  height: 12vh;
  width: 100%;
  background-color: rgba(200, 63, 52,1.0);
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0;
  margin: 0;
  position: fixed;
  top:0;
  left:0;
  border-bottom: 2px solid rgba(0,0,0, 0.2);
  box-shadow: rgba(255,255,255, 0.2) 0 2px 0;
}

header h1 {
  /*color: #c0392b;*/
  color: rgba(210, 218, 226,1.0);
  font-weight: bold;
  font-size: 50px;
  margin: 0;
  vertical-align: center;
  /*text-shadow: -1px 1px 0 rgba(255,255,255,1);*/
  text-shadow: 1px -1px 0 rgba(0,0,0,1);
}

header .title {
  width: 70vw;
  height: 100%;
  padding-left: 5vw;
  padding-top: 6vh;
  vertical-align: center;
  float: left;
}

header .icon {
  display: inline-block;
  /*width: 15vw;*/
  height: 100%;
  /*padding:1vw;*/
  text-align: center;
  vertical-align: center;
  /*float: left;*/
}

.icon span {
  font-weight: bold;
  /*text-shadow: -1px 1px 0 rgba(255,255,255,1);*/
  text-shadow: 1px -1px 0 rgba(0,0,0,1);
  background: transparent;
  color: rgba(210, 218, 226,1.0);
  /*color: red;*/
  font-size: 20px;
  margin: 0 auto;
  /*padding-left: 1vh;*/
}

.icon a{
  text-decoration: none;
  display: block;
  height: 100%;
  width:100%;
}

.icon a:hover{
  background-color:rgba(30, 39, 46, 0.1);
}
.icon-text{
  font-weight: bold;
  /*text-shadow: -1px 1px 0 rgba(255,255,255,1);*/
  text-shadow: 1px -1px 0 rgba(0,0,0,1);
  background: transparent;
  color: rgba(210, 218, 226,1.0);
  /*color: red;*/
  font-size: 20px;
  margin: 0 auto;
  /*padding-left: 1vh;*/
}


li {
  margin: 0 auto;
  text-align: center;
  list-style: none;
   /*font-family: "Kokoro";*/
}

li .important i {
  width:10%;
  color:red;
  float:left;
}

li .urgent i {
  width:10%;
  color:blue;
  float:left;
}

li a {
  border-style:none;
  color: #4a2d08;
  text-decoration:none;
  font-weight: bold;
}

.todo-mat {
  height: 100vh;
  width: 100%;
  /*padding: 30px;*/
  margin-top: 12.5vh;
  /*position: fixed;*/
}

.todo-mat h2 {
  font-size: 30px;
}

.todo-mat a {
  font-size: 30px;
}

.todo-mat li {
  margin-top: 50px;
}

.contents-row {
  width: 100%;
  height: 50%;
  padding:20px;
}

.contents-left {
  width: 48%;
  height: 95%;
  float: left;
  overflow: auto;
  text-align: center;
}

.contents-right {
  width: 48%;
  height: 95%;
  float: right;
  overflow: auto;
  text-align: center;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.btn i {
    display: inline-block;
    text-decoration: none;
    text-shadow: 1px -1px 0 rgba(0,0,0,1);
    background: transparent;
    /*color: #7f8c8d;*/
    color: rgba(210, 218, 226, 1.0);
    /*width: 120px;*/
    /*height: 120px;*/
    /*line-height: 120px;*/
    /*margin: 20px 20px 0px;*/
    width: 6vh;
    height: 6vh;
    line-height: 6vh;
    padding: 2vh 3vw 0;
    /*margin: 0 auto;*/
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}


#important {
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  color: rgba(255, 63, 52,1.0);
  border-radius: 6px;
  border-width: 5px;
  background: rgba(255, 63, 52, 0.1);
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
}

#decide {
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  color: rgba(5, 196, 107,1.0);
  border-radius: 6px;
  border-width: 5px;
  background: rgba(5, 196, 107, 0.1);
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
}

#delegate {
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  color: rgba(60, 64, 198,1.0);
  border-radius: 6px;
  border-width: 5px;
  background: rgba(60, 64, 198, 0.2);
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
}

#delete {
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  color: rgba(30, 39, 46,1.0);
  border-radius: 6px;
  border-width: 5px;
  background: rgba(30, 39, 46, 0.1);
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
}

.modal {
  display: none;
  width: 80%;
  height: 80%;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  border-width: 6px;
  text-align: center;
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  background: #ecf0f1;
  box-shadow: rgba(44, 62, 80, 0.1) -1px 1px 5px;
  position:fixed;
  overflow: auto;
  z-index: 2;
}

#modal-main1 h1 {
  color: #e74c3c;
  font-size: 50px;
}

#modal-main2 h1 {
  color: #27ae60;
  font-size: 50px;
}
#modal-main3 h1 {
  color: #2980b9;
  font-size: 50px;
}
#modal-main4 h1 {
  color: #2c3e50;
  font-size: 50px;
}

.modal h1 {
  font-size: 30px;
  padding: 5px;
}

.modal li {
  margin-top: 50px;
  font-size: 40px;
}

#modal-bg {
  display:none;
  width:100%;
  height:100%;
  background-color: rgba(44, 62, 80, 0.2);
  position:fixed;
  top:0;
  left:0;
  z-index: 1;
}
