header {
  height: 10vh;
  width: 100vw;
  background-color: #3061DD;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  color: white;
  font-family: sans-serif;
  font-size: 50px;
  padding: 0 10px;
  margin: 0;
}

.todo-mat{
  height: 80vh;
}

.contents{
  width: 100vW;
  padding: 10px;
}
.contents h1{
  font-size: 40px;
}
.contents h2{
  font-size: 30px;
}
.contents p{
  font-size: 20px;
}

footer{
  height: 10vh;
}
