* {
  margin: 0;
  padding: 0;
}

html{
  /*height: 100vh;*/
  height: 120vh;
  width: 100vw;
  /*background-image: url('retina-dust.png');*/
  background-color: rgba(44, 62, 80, 0.1);
  font-family: 'Roboto', 'Sawarabi Gothic', sans-serif;
}

header {
  height: 12vh;
  width: 100%;
  background-color: rgba(200, 63, 52,1.0);
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0;
  margin: 0;
  position: fixed;
  top:0;
  left:0;
  border-bottom: 2px solid rgba(0,0,0, 0.2);
  box-shadow:0px 12px 10px -10px black;
  z-index: 1;
}

header h1 {
  /*color: #c0392b;*/
  color: rgba(210, 218, 226, 1.0);
  /*font-weight: bold;*/
  font-size: 70px;
  /*margin: 0;*/
  vertical-align: center;
  /*text-shadow: -1px 1px 0 rgba(255,255,255,1);*/
  text-shadow: 1px -1px 0 rgba(0,0,0,1);
}

header h2 {
  /*color: #c0392b;*/
  color: rgba(210, 218, 226, 1.0);
  /*font-weight: bold;*/
  font-size: 50px;
  /*margin: 0;*/
  vertical-align: center;
  /*text-shadow: -1px 1px 0 rgba(255,255,255,1);*/
  text-shadow: 1px -1px 0 rgba(0,0,0,1);
}

header .title {
  width: 70vw;
  height: 100%;
  padding-left: 5vw;
  padding-top: 6vh;
  vertical-align: center;
  float: left;
}

header .icon {
  display: inline-block;
  /*width: 15vw;*/
  height: 100%;
  /*padding:1vw;*/
  text-align: center;
  vertical-align: center;
  /*float: left;*/
}

.icon span {
  font-weight: bold;
  /*text-shadow: -1px 1px 0 rgba(255,255,255,1);*/
  text-shadow: 1px -1px 0 rgba(0,0,0,1);
  background: transparent;
  color: rgba(210, 218, 226,1.0);
  /*color: red;*/
  font-size: 20px;
  margin: 0 auto;
  /*padding-left: 1vh;*/
}

.icon a{
  text-decoration: none;
  display: block;
  height: 100%;
  width:100%;
}

.icon a:hover{
  background-color:rgba(30, 39, 46, 0.1);
}

.icon-text{
  font-weight: bold;
  /*text-shadow: -1px 1px 0 rgba(255,255,255,1);*/
  text-shadow: 1px -1px 0 rgba(0,0,0,1);
  background: transparent;
  color: rgba(210, 218, 226,1.0);
  /*color: red;*/
  font-size: 30px;
  margin: 0 auto;
  line-height:3vh;
  /*padding-left: 1vh;*/
}

#settings a{
  pointer-events: none;
}

li {
  /*margin: 0 auto;*/
  margin: 10px 20px;
  text-align: center;
  list-style: none;
  height: 80px;
  background: whitesmoke;
  vertical-align: middle;
  margin-bottom: 2px;/*下のバーとの余白*/
  position: relative;
}
li:after{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: black;
  -webkit-box-shadow: 0 15px 20px 1px black;
  -moz-box-shadow: 0 15px 20px 1px black;
  box-shadow: 0 15px 20px 1px black;
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
}

.modal li{
  height: 120px;
}
.modal li:after{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: black;
  -webkit-box-shadow: 0 10px 40px 10px black;
  -moz-box-shadow: 0 10px 40px 10px black;
  box-shadow: 0 10px 40px 10px black;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}
/*.modal li {
height:auto;
}
*/

li a {
  border-style:none;
  color: #4a2d08;
  text-decoration:none;
  font-weight: bold;
  font-size: 40px;
}

.todo-mat {
  height: 100vh;
  width: 100vw;
  /*padding: 30px;*/
  margin-top: 12.5vh;
}

.todo-mat h1{
  font-size: 50px;
}

.todo-mat h2 {
  font-size: 30px;
}

.todo-mat a {
  /*font-size: 40px;*/
}

.todo-mat li {
  margin-top: 50px;
}

.contents-head{
  height: 10%;
  margin: 0 auto;
  color: white;
  border-width: 5px;
  box-shadow:0px 12px 10px -10px black;
}

.contents-list{
  overflow: auto;
  height:88%;
  margin:5px 0;
  /*position: relative;*/
}
.contents-row {
  width: 95%;
  height: 50%;
  padding:20px;
}

.contents-left {
  width: 48%;
  height: 95%;
  float: left;
  text-align: center;
  overflow: auto;
  /*justify-content: center;*/
}

.contents-right {
  width: 48%;
  height: 95%;
  float: right;
  /*position:relative;*/
  /*overflow: auto;*/
  text-align: center;
}

hr {
  border-top: 3px dashed #1e272e;
  box-shadow: rgba(255, 255, 255, 1) 0 0 1px;
}

.btn i {
    display: inline-block;
    text-decoration: none;
    text-shadow: 1px -1px 0 rgba(0,0,0,1);
    background: transparent;
    color: rgba(210, 218, 226, 1.0);
    width: 6vh;
    height: 6vh;
    line-height: 6vh;
    padding: 2vh 3vw 0;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

#important {
  border-radius: 6px;
  border-width: 5px;
  border-bottom: solid 5px rgba(255, 63, 52, 1.0);
  border-left: solid 5px rgba(255, 63, 52, 1.0);
  border-right: solid 5px rgba(255, 63, 52, 1.0);
  /*box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 2px;*/
}
#important .contents-list{
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  color: rgba(255, 63, 52, 1.0);
}

#important .contents-head{
  background-color: rgba(255, 63, 52, 1.0);
  border: solid 1px rgba(255, 63, 52, 1.0);
}

#important li, #modal-main1 li{
  border-left: solid 30px rgba(255, 63, 52, 1.0);
}

#decide {
  border-radius: 6px;
  border-width: 5px;
  border-bottom: solid 5px rgba(5, 196, 107, 1.0);
  border-left: solid 5px rgba(5, 196, 107, 1.0);
  border-right: solid 5px rgba(5, 196, 107, 1.0);
}

#decide .contents-list{
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  color: rgba(5, 196, 107,1.0);
  /*border-radius: 6px;*/
}
#decide .contents-head{
  background-color: rgba(5, 196, 107, 1.0);
}
#decide li, #modal-main2 li{
    border-left: solid 30px rgba(5, 196, 107, 1.0);
}

#delegate {
  border-radius: 6px;
  border-width: 5px;
  border-bottom: solid 5px rgba(60, 64, 198, 1.0);
  border-left: solid 5px rgba(60, 64, 198, 1.0);
  border-right: solid 5px rgba(60, 64, 198, 1.0);
  /*background: rgba(60, 64, 198, 0.2);*/
}
#delegate .contents-list{
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  color: rgba(60, 64, 198, 1.0);
}
#delegate .contents-head{
  background-color: rgba(60, 64, 198, 1.0);
}

#delegate li, #modal-main3 li{
    border-left: solid 30px rgba(60, 64, 198, 1.0);
}

#delete {
  border-radius: 6px;
  border-width: 5px;
  border-bottom: solid 5px rgba(30, 39, 46, 1.0);
  border-left: solid 5px rgba(30, 39, 46, 1.0);
  border-right: solid 5px rgba(30, 39, 46, 1.0);
}

#delete .contents-list{
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  color: rgba(30, 39, 46, 1.0);
}

#delete .contents-head{
  background-color: rgba(30, 39, 46, 1.0);
}

#delete li , #modal-main4 li{
    border-left: solid 30px rgba(30, 39, 46, 1.0);
}
.modal {
  display: none;
  width: 90%;
  height: 90%;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  border-width: 6px;
  text-align: center;
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  background: #ecf0f1;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 2px;
  position:fixed;
  overflow: auto;
  z-index: 2;
}


#modal-main1 h1 {
  font-size: 50px;
  color: #e74c3c;
}

#modal-main2 h1 {
  font-size: 50px;
  color: #27ae60;
}
#modal-main3 h1 {
  font-size: 50px;
  color: #2980b9;
}
#modal-main4 h1 {
  font-size: 50px;
  color: #2c3e50;
}


.modal li {
  margin-top: 50px;
  font-size: 40px;
}

#modal-bg {
  display:none;
  width:100%;
  height:100%;
  background-color: rgba(44, 62, 80, 0.5);
  position:fixed;
  top:0;
  left:0;
  z-index: 1;
}
