:root {
  /*--base_color: rgba(0, 150, 200, 1.0);*/
  --base_color: #4a2d08;
  /*--main_text_color: #ecf0f1;*/
  --main_text_color: #c0392b;
  --base_background: rgba(149, 165, 166, 0.2);
  /*--base_background: #d35400;*/
  --button_color: #7f8c8d;
  --important_color: #e74c3c;
  --decide_color: #27ae60;
  --delegate_color: #2980b9;
  --delete_color: #2c3e50;
  /*--list_background: linear-gradient(#ecf0f1, #ecf0f3);*/
  --list_background: linear-gradient(to bottom, #ecf0f1 0%,#ecf0f3 100%);
  --list_boxshadow: rgba(0,0,0,0.5) 0 0 3px;
  --modal_background: linear-gradient(to bottom, #ecf0f1 0%,#ecf0f3 100%);
  --modal_boxshadow: rgba(44, 62, 80, 0.1) -1px 1px 5px;
}

*{
  margin: 0;
  padding: 0;
}

body, html {
  height: 100vh;
  width: 100vw;
  /*background-color: white;*/
  background-image: url("retina_dust.png");
  /*margin: 5px;*/
}

header {
  height: 10vh;
  width: 100vw;
  background-color: var(--base_background);
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0;
  margin: 0;
  position: fixed;
  top:0;
  left:0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-shadow: rgba(255,255,255, 1) 0 1px 0;
}

header h1 {
  color: var(--main_text_color);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin: 0;
  vertical-align: center;
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
}

header .title{
  width: 70vw;
  height: 100%;
  padding-left: 5vw;
  padding-top: 6vh;
  vertical-align: center;
  float: left;
}

header .icon{
  width: 15vw;
  height: 100%;
  padding:1vw;
  text-align: center;
  vertical-align: center;
  float: left;
}

.icon span{
  font-weight: bold;
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  background: transparent;
  color: var(--button_color);
  font-size: 20px;
  padding-left: 10px
}

li {
  margin: 0 auto;
  text-align: center;
  list-style: none;
}

li .important i{
  width:10%;
  color:red;
  float:left;
}

li .urgent i{
  width:10%;
  color:blue;
  float:left;
}

li a{
  border-style:none;
  color: var(--base_color);
  text-decoration:none;
  font-weight: bold;
  /*text-align: center;*/
  /*float:left;*/
}

.todo-mat{
  height: 85vh;
  width: 95vw;
  padding: 30px;
  margin-top: 10vh;
  position: fixed;
}

/*.todo-mat h1{
  font-size: 30px;
  position: fixed;
  background: rgba(255,255,255,0.5);
  padding: 10px;
}
*/
.todo-mat h2{
  font-size: 30px;
}

.todo-mat a{
  font-size: 30px;
}

.todo-mat li{
  margin-top: 50px;
}

.contents-row {
  width: 100%;
  height: 50%;
}

.contents-left {
  width: 48%;
  height: 95%;
  float: left;
  overflow: auto;
  text-align: center;
}

/*.contents-left:hover{
  background-color: blue;
}*/

.contents-right {
  width: 48%;
  height: 95%;
  float: right;
  overflow: auto;
  text-align: center;
}

/*.important-header{
  margin:0 auto;
  display: inline;
}
*//*.contents-right:hover{
  background-color: blue;
}
*/
/*hr {
  height: 1px;
  border: none;
  border-top: 1px #000000 solid;
}
*/
hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

/*.btn i{
    display: inline-block;
    text-decoration: none;
    background: var(--button_color);
    color: #FFF;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 0px 0px 0px 5px var(--button_color);
    border: dashed 1px #FFF;
    transition: .4s;
    margin: 20px;
}*/

.btn i{
    display: inline-block;
    text-decoration: none;
    text-shadow: -1px 1px 0 rgba(255,255,255,1);
    background: transparent;
    /*color: var(--button_color);*/
    color: var(--button_color);
    width: 120px;
    height: 120px;
    line-height: 120px;
    /*border-radius: 50%;*/
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    /*box-shadow: 0px 0px 0px 5px var(--button_color);*/
    /*border: dashed 1px #FFF;*/
    /*transition: .4s;*/
    margin: 20px 20px 0px;
}

.btn i:hover{
/*    background: #668ad8;
    box-shadow: 0px 0px 0px 5px #668ad8;
*/
  opacity: 0.7;
}

i.fa-exclamation{
  color: var(--important_color);
}

i.fa-clock{
  color: var(--delegate_color);
}
/*#modal-open {
}
*/
#important{
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  color: var(--important_color);
  /*border-style: solid;*/
  border-radius: 6px;
  border-width: 5px;
  /*border-color: var(--important_color);*/
  background: var(--list_background);
  box-shadow: var(--list_boxshadow);
}

/*#important h1{
  position: fixed;
}
*/
#decide{
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  color: var(--decide_color);
  /*border-style: solid;*/
  border-radius: 6px;
  border-width: 5px;
  /*border-color: var(--decide_color);*/
  background: var(--list_background);
  -webkit-font-smoothing: subpixel-antialiased;
  box-shadow: var(--list_boxshadow);
}
/*.decide-header{
  position: fixed;
}
*/
#delegate{
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  color: var(--delegate_color);
  /*border-style: solid;*/
  border-radius: 6px;
  border-width: 5px;
  /*border-color: var(--delegate_color);*/
  background: var(--list_background);
  box-shadow: var(--list_boxshadow);
}
#delete{
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  color: var(--delete_color);
  /*border-style: solid;*/
  border-radius: 6px;
  border-width: 5px;
  /*border-color: var(--delete_color);*/
  background: var(--list_background);
  box-shadow: var(--list_boxshadow);
}

/* モーダル コンテンツエリア */
.modal {
  display: none;
  width: 80%;
  height: 80%;
  margin: 0;
  padding: 0;
  /*border-style: solid;*/
  border-radius: 10px;
  border-width: 6px;
  /*color: #666666;*/
  text-align: center;
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  background: var(--modal_background);
  /*background: var(--list_background);*/
  box-shadow: var(--modal_boxshadow);
  /*background-image: url("lined_paper.png");*/
  position:fixed;
  overflow: auto;
  z-index: 2;
}
#modal-main1 h1{
  color: var(--important_color);
  font-size: 50px;
}
#modal-main2 h1{
  color: var(--decide_color);
  font-size: 50px;
}
#modal-main3 h1{
  color: var(--delegate_color);
  font-size: 50px;
}
#modal-main4 h1{
  color: var(--delete_color);
  font-size: 50px;
}

.modal h1{
  font-size: 30px;
  padding: 5px;
}

.modal li{
  margin-top: 50px;
  font-size: 40px;
}

/* モーダル 背景エリア */
#modal-bg {
  display:none;
  width:100%;
  height:100%;
  background-color: rgba(44, 62, 80, 0.2);
  position:fixed;
  top:0;
  left:0;
  z-index: 1;
}
