:root {
  --base_color: rgba(0, 150, 200, 1.0);
  --base_background: rgba(0, 150, 200, 0.5);
}

*{
  margin: 0;
  padding: 0;
}

body, html {
  height: 100vh;
  width: 100vw;
  /*background-color: white;*/
  background-image: url("retina_dust.png");
  /*margin: 5px;*/
}

header {
  height: 10vh;
  width: 100vw;
  background-color: var(--base_background);
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0;
  margin: 0;
  position: fixed;
  top:0;
  left:0;
}

header h1 {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin: 0;
  vertical-align: center;
  text-shadow: 1px -1px rgba(0,0,0,.2);
}

header .title{
  width: 70vw;
  height: 100%;
  padding-left: 5vw;
  padding-top: 6vh;
  vertical-align: center;
  float: left;
}

header .icon{
  width: 15vw;
  height: 100%;
  padding:2vw;
  text-align: center;
  vertical-align: center;
  float: left;
}

li {
  margin: 0 auto;
  text-align: center;
  list-style: none;
}

li .important i{
  width:10%;
  color:red;
  float:left;
}

li .urgent i{
  width:10%;
  color:blue;
  float:left;
}

li a{
  border-style:none;
  color: var(--base_color);
  text-decoration:none;
  /*text-align: center;*/
  /*float:left;*/
}

.todo-mat{
  height: 90vh;
  width: 100vw;
  padding: 10px;
  margin-top: 10vh;
  position: fixed;
}

.todo-mat h1{
  font-size: 30px;
  position: fixed;
  /*background: rgba(255,255,255,0.5);*/
  padding: 5px;
}

.todo-mat h2{
  font-size: 30px;
}

.todo-mat a{
  font-size: 30px;
}

.todo-mat li{
  margin-top: 50px;
}

.contents-row {
  width: 100%;
  height: 50%;
}

.contents-left {
  width: 50%;
  height: 100%;
  float: left;
  overflow: auto;
}
/*.contents-left:hover{
  background-color: blue;
}*/

.contents-right {
  width: 50%;
  height: 100%;
  float: right;
  overflow: auto;
}

/*.contents-right:hover{
  background-color: blue;
}
*/
/*hr {
  height: 1px;
  border: none;
  border-top: 1px #000000 solid;
}
*/
hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.btn i{
    display: inline-block;
    text-decoration: none;
    background: #87befd;
    color: #FFF;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 0px 0px 0px 5px #87befd;
    border: dashed 1px #FFF;
    transition: .4s;
    margin: 20px;
}

.btn i:hover{
    background: #668ad8;
     box-shadow: 0px 0px 0px 5px #668ad8;
}

