:root {
  /*--base_color: #3061DD;*/
  --base_color: rgba(0, 150, 200, 1.0);
  --base_background: rgba(0, 150, 200, 0.7);
}

*{
  margin: 0;
  padding: 0;
}

body, html {
  height: 100vh;
  width: 100vw;
  /*background-color: white;*/
  background-image: url("retina_dust.png");
  /*margin: 5px;*/
}

header {
  height: 10vh;
  width: 100vw;
  background-color: var(--base_background);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0;
  margin: 0;
  position: fixed;
  top:0;
  left:0;
}

header h1 {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin: 0;
  text-shadow: 1px -1px rgba(0,0,0,.2);
}

header a{
  border-style:solid;
  border-radius:4px;
  background-color: white;
  color: var(--base_color);
  font-size: 50px;
}

li a{
  border-style:solid;
  border-radius:4px;
  /*background-color: white;*/
  color: var(--base_color);
  font-size: 30px;
}

.todo-mat{
  height: 90vh;
  width: 100vw;
  padding: 10px;
  margin-top: 10vh;
  position: fixed;
}

.todo-mat h1{
  font-size: 30px;
  position: fixed;
  /*background: rgba(255,255,255,0.5);*/
  padding: 5px;
}

.todo-mat h2{
  font-size: 30px;
}

.todo-mat a{
  font-size: 30px;
}

.todo-mat li{
  margin-top: 50px;
}

.contents-row {
  width: 100%;
  height: 50%;
}

.contents-left {
  width: 50%;
  height: 100%;
  float: left;
  overflow: auto;
}
/*.contents-left:hover{
  background-color: blue;
}*/

.contents-right {
  width: 50%;
  height: 100%;
  float: right;
  overflow: auto;
}

/*.contents-right:hover{
  background-color: blue;
}
*/
/*hr {
  height: 1px;
  border: none;
  border-top: 1px #000000 solid;
}
*/
hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
