* {
  margin: 0;
  padding: 0;
}

/*html {
  --base_color: #4a2d08;
  --main_text_color: #c0392b;
  --base_background: rgba(149, 165, 166, 0.2);
  --button_color: #7f8c8d;
  --important_color: #e74c3c;
  --decide_color: #27ae60;
  --delegate_color: #2980b9;
  --delete_color: #2c3e50;
  --list_background: #ecf0f1;
  --list_boxshadow: rgba(0, 0, 0, 0.5) 0 0 3px;
  --modal_background: #ecf0f1;
  --modal_boxshadow: rgba(44, 62, 80, 0.1) -1px 1px 5px;
}
*/

body{
  /*height: 100vh;*/
  height: 100%;
  width: 100%;
  background-image: url('retina-dust.png');
  /*background-color: red;*/
}

header {
  height: 15vh;
  width: 100vw;
  background-color: rgba(149, 165, 166, 0.2);
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0;
  margin: 0;
  position: fixed;
  top:0;
  left:0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-shadow: rgba(255,255,255, 1) 0 1px 0;
}

header h1 {
  color: #c0392b;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin: 0;
  vertical-align: center;
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
}

header .title {
  width: 70vw;
  height: 100%;
  padding-left: 5vw;
  padding-top: 6vh;
  vertical-align: center;
  float: left;
}

header .icon {
  width: 15vw;
  height: 100%;
  padding:1vw;
  text-align: center;
  vertical-align: center;
  float: left;
}

.icon span {
  font-weight: bold;
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  background: transparent;
  color: #7f8c8d;
  /*color: red;*/
  font-size: 20px;
  padding-left: 10px;
}

li {
  margin: 0 auto;
  text-align: center;
  list-style: none;
}

li .important i {
  width:10%;
  color:red;
  float:left;
}

li .urgent i {
  width:10%;
  color:blue;
  float:left;
}

li a {
  border-style:none;
  color: #4a2d08;
  text-decoration:none;
  font-weight: bold;
}

.todo-mat {
  height: 100vh;
  width: 95vw;
  padding: 30px;
  margin-top: 15vh;
  /*position: fixed;*/
}

.todo-mat h2 {
  font-size: 30px;
}

.todo-mat a {
  font-size: 30px;
}

.todo-mat li {
  margin-top: 50px;
}

.contents-row {
  width: 100%;
  height: 50%;
}

.contents-left {
  width: 48%;
  height: 95%;
  float: left;
  overflow: auto;
  text-align: center;
}

.contents-right {
  width: 48%;
  height: 95%;
  float: right;
  overflow: auto;
  text-align: center;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.btn i {
    display: inline-block;
    text-decoration: none;
    text-shadow: -1px 1px 0 rgba(255,255,255,1);
    background: transparent;
    color: #7f8c8d;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    margin: 20px 20px 0px;
}

.btn i:hover {
  opacity: 0.7;
}

#important {
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  color: #e74c3c;
  border-radius: 6px;
  border-width: 5px;
  background: #ecf0f1;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
}

#decide {
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  color: #27ae60;
  border-radius: 6px;
  border-width: 5px;
  background: #ecf0f1;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
}

#delegate {
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  color: #2980b9;
  border-radius: 6px;
  border-width: 5px;
  background: #ecf0f1;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
}

#delete {
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  color: #2c3e50;
  border-radius: 6px;
  border-width: 5px;
  background: #ecf0f1;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
}

.modal {
  display: none;
  width: 80%;
  height: 80%;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  border-width: 6px;
  text-align: center;
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  background: #ecf0f1;
  box-shadow: rgba(44, 62, 80, 0.1) -1px 1px 5px;
  position:fixed;
  overflow: auto;
  z-index: 2;
}

#modal-main1 h1 {
  color: #e74c3c;
  font-size: 50px;
}

#modal-main2 h1 {
  color: #27ae60;
  font-size: 50px;
}
#modal-main3 h1 {
  color: #2980b9;
  font-size: 50px;
}
#modal-main4 h1 {
  color: #2c3e50;
  font-size: 50px;
}

.modal h1 {
  font-size: 30px;
  padding: 5px;
}

.modal li {
  margin-top: 50px;
  font-size: 40px;
}

#modal-bg {
  display:none;
  width:100%;
  height:100%;
  background-color: rgba(44, 62, 80, 0.2);
  position:fixed;
  top:0;
  left:0;
  z-index: 1;
}
