.contents{
  margin-top: 10vh;
}

input::-webkit-input-placeholder {
  font-size: 40px;
  font-weight: bold;
  padding: 5px;
}

input[type="text"]{
  width:100%;
  border: 0px;
  background: transparent;
  font-size: 40px;
}

input[type="date"]{
  width:100%;
  border: 0px;
  font-size: 40px;
  font-weight: bold;
  background: transparent;
  color: gray;
}

input[type="time"]{
  width:100%;
  border: 0px;
  font-size: 40px;
  font-weight: bold;
  background: transparent;
  color: gray;
}

textarea[name="detail"]{
  width:100%;
  font-size: 40px;
  padding:10px;
}

input[type="submit"]{
  padding: 15px;
  color:red;
  border-style: solid;
  border-color: red;
  background: transparent;
  font-size: 40px;
}

input[type="submit"]:hover{
  background-color: red;
  color: white;
}
