.contents{
  margin-top: 15vh;
}

.input-form{
  margin:2vh auto;
  width:100%;
  height:150px;
  text-align: center;
}

.submit-button{
  height: 8vh;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(200, 63, 52,1.0);
  border-radius: 6px;
  color: rgba(210, 218, 226, 1.0);
  text-shadow: 1px -1px 0 rgba(0,0,0,1);
  /*box-shadow: 0px 0px 30px -5px white inset;*/
}

.submit-icon{
  display: inline-block;
  height: 6vh;
  width: 6vh;
  margin-left: 3vh;
  float:left;
}

.submit-icon i{
  /*display: inline-block;*/
  text-decoration: none;
  text-shadow: 1px -1px 0 rgba(0,0,0,1);
  background: transparent;
  width: 7vh;
  height: 7vh;
  line-height: 8vh;
  /*padding: 2vh 3vw 0;*/
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  /*float:left;*/
}
.submit-text {
  display: inline-block;
  width: 70%;
  height: 100%;
  margin:0 auto;
  text-align: center;
}

.input-form-left{
  width: 15%;
  text-align: center;
  float: left;
}

.input-form-left h1{
  font-size: 50px;
  padding-top: 25px;
}

.input-form-right{
  width: 85%;
  text-align: center;
  float: right;
}

input::-webkit-input-placeholder {
  font-weight: bold;
  /*padding: 5px;*/
}

input[type="text"]{
  size:100%;
  border: 0px;
  background: transparent;
}

form input{
  /*background: transparent;*/
  background-color: rgba(245, 59, 87,0.1);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 30px -10px black inset;
  /*border: 2px solid rgba(30, 39, 46,0.2);*/
  color: #666;
  /*font-family: 'Open Sans', sans-serif;*/
  height: 120px;
  /*transition: border-color 0.1s;*/
  width: 100%;
  font-size: 50px;
  padding-left: 10px;
}

form input:focus {
  border: solid 1px rgba(200, 63, 52,1.0);
  outline: none;
}

input[type="date"]{
  width:80%;
  font-weight: bold;
}

input[type="time"]{
  width:80%;
  font-weight: bold;
}

input[type="textarea"]{
  width:80%;
}

input[type="submit"]{
  width:100%;
  height: 100%;
  /*margin:0 auto;*/
  background: transparent;
  line-height: 8vh;
  color: rgba(210, 218, 226, 1.0);
  font-size: 50px;
  font-weight: bold;
  box-shadow: none;
  text-shadow: 1px -1px 0 rgba(0,0,0,1);
}
