.contents{
  margin-top: 15vh;
}

.input-form{
  margin:2vh auto;
  width:100%;
  height:5vh;
  text-align: center;
}
.input-form i{
    display: inline-block;
    text-decoration: none;
    background: transparent;
    color: #c0392b;
    line-height: 120px;
    font-size: 120px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    margin: 20px;
}

.input-form i:hover{
  opacity:0.5;
}

.input-form-left{
  width: 15%;
  text-align: center;
  float: left;
}

.input-form-left h1{
  font-size: 40px;
}

.input-form-right{
  width: 85%;
  text-align: center;
  float: right;
}

input::-webkit-input-placeholder {
  font-weight: bold;
  /*padding: 5px;*/
}

input[type="text"]{
  size:100%;
  border: 0px;
  background: transparent;
}

form input{
  background: transparent;
  /*border: none;*/
  border: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  height: 70px;
  transition: border-color 0.3s;
  width: 100%;
  font-size: 40px;
}

form input:focus {
  border: solid 1px rgba(200, 63, 52,1.0);
  /*border-bottom: 2px solid #c0c0c0;*/
  outline: none;
}

input[type="date"]{
  width:80%;
  border: 0px;
  font-size: 50px;
  font-weight: bold;
  /*background: transparent;*/
  color: gray;
}

input[type="time"]{
  width:80%;
  border: 0px;
  font-size: 50px;
  font-weight: bold;
  /*background: transparent;*/
  color: gray;
}

input[type=textarea]{
  width:80%;
  font-size: 50px;
  /*padding:10px;*/
  /*background: transparent;*/
}

input[type="submit"]{
  /*padding: 15px;*/
  color:red;
  border-style: solid;
  border-color: red;
  /*background: transparent;*/
  font-size: 40px;
}

input[type="submit"]:hover{
  background-color: red;
  color: white;
}
