table {
    width:90%;
    border-top:1px solid var(--base_color);
    border-left:1px solid var(--base_color);
    border-collapse:collapse;
    /*background:#ffffff;*/
    margin-top: 10vh;
}

th {
    font-size:30px;
    border-right:1px solid var(--base_color);
    border-bottom:1px solid var(--base_color);
    background: var(--base_background);
    color: white;
    background-position:left top;
    padding:3px 10px 3px 10px;
    text-align:center;
 }

td {
    font-size:30px;
    border-right:1px solid var(--base_color);
    border-bottom:1px solid var(--base_color);
    /*background: white;*/
    color:black;
    background-position:left top;
    padding:3px 10px 3px 10px;
    text-align:center;
 }
