table {
    width:80%;
    border-style: none;
}

th {
    font-size:50px;
    border-style: none;
    color: black;
    background-position:left top;
    padding:3px 10px 3px 10px;
    text-align:center;
 }

td {
    height:5vh;
    font-size:30px;
    border-bottom:1px solid #4a2d08;
    color:black;
    background-position:left top;
    padding:3px 10px 3px 10px;
    text-align:center;
 }

 td a{
    color: #4a2d08;
    text-decoration: none;
 }

td.newtodo{
    background-color: rgba(255, 0, 0, 0.1);
}

td.newicon{
    border-style: none;
    background: transparent;
}
.todo-table{
    height: 89vh;
    width:100vw;
    margin:16vh 1vh 2vh;
    position: fixed;
    overflow: auto;
}

