table {
    width:80%;
    /*border-style: none;*/
    margin-left: 5vw;
    border-style: none;
    text-align: center;
    font-weight: bold;
    text-shadow: -1px 1px 0 rgba(255,255,255,1);
    border-collapse: separate;
    border-spacing: 0 20px;
    /*border-top: solid 1px #666;*/
    /*border-bottom: solid 1px #666;*/
}

th {
    font-size:50px;
    color: black;
    /*background-position:left top;*/
    text-align:center;
    vertical-align: middle;
 }

tbody tr{
    /*background-color: rgba(44, 62, 80, 0.1);*/
}

tbody td {
    line-height: 50px;
    font-size: 40px;
    color:black;
    /*background-position:left top;*/
    /*display: block;*/
    padding: 30px;
    text-align:center;
    background-color: rgba(44, 62, 80, 0.1);
 }

td a{
display: block;
width: 100%;
height: 100%;
}

td.number{
/*border-right: solid 5px rgba(211, 84, 0,1.0);*/
    background-color: rgba(211, 84, 0,1.0);
    color:white;
    font-size: 50px;
    text-shadow: 1px -1px 0 rgba(0,0,0,1);
    box-shadow: 5px 5px 10px -5px black;
}

td.title{
    /*border-right: dotted 5px rgba(44, 62, 80,1.0);*/
    box-shadow: 5px 5px 10px -5px black;
}

td.title a{
    color: #4a2d08;
    text-decoration: none;
}

td.date{
    box-shadow: 5px 5px 10px -5px black;
}

td.check{
    background: transparent;
    /*color:green;*/
}

td.check i{
    /*background: rgba(44, 62, 80, 0.1);*/
    color:green;
}

td.check i:hover{
    transition:0.3s;
    color:white;
}


td.newtodo{
    background-color: rgba(255, 0, 0, 0.1);
}

td.newicon{
    border-style: none;
    background: transparent;
}
.todo-table{
    height: auto;
    width:100vw;
    margin-top: 13vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    /*position: fixed;*/
    overflow: auto;
}

